@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "DeleteProduct5";

    var db = Database.Open("StarterSite");
    var UserId = UrlData[0];
    if (UserId.IsEmpty())
    {
        Response.Redirect("~/ListProductsForDelete5");
    }
    var prod = db.QuerySingle("SELECT * FROM webpages_UsersInRoles WHERE UserId = @0", UserId);
    if (IsPost && !UserId.IsEmpty())
    {
        var deleteQueryString = "DELETE FROM webpages_UsersInRoles WHERE UserId=@0";
        db.Execute(deleteQueryString, UserId);
        Response.Redirect("~/ListProductsForDelete5");
    }
}
<br /><br /><br /><br /><br />
<h1>Potvrda</h1>
<form method="post" action="" name="form">
    <p>Jeste li sigurni?</p>

    <p>
        Id: @prod.UserId <br />
        Mail: @prod.RoleId <br />
    </p>
    <p><input type="submit" value="Obriši" /></p>
</form>