@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Katalog";
}

@section featured {
    <br /><br /><br /><br /><br />
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-4"><object width="500" height="700" data="AJA Tours Ponuda.pdf"></object></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4"><object width="500" height="700" data="brosura.pdf"></object></div>
        <div class="col-sm-2"></div>
    </div>

}
