@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Kontakt";
}
<section>
    <br /><br /><br /><br />
    <div class="form">
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <form id="reused_form">
                            <br>
                            <h2 class="section-heading">Kontaktirajte nas!</h2>
                            <h3 class="section-subheading text-muted">Rado ćemo odgovoriti na sva pitanja.</h3>
                            <div class="form-group">
                                <label><i class="fa fa-user" aria-hidden="true"></i> Ime i prezime</label>
                                <input type="text" name="name" class="form-control" placeholder="Unesite ime i prezime">
                            </div>
                            <div class="form-group">
                                <label><i class="fa fa-envelope" aria-hidden="true"></i> Email</label>
                                <input type="email" name="email" class="form-control" placeholder="Vaš Email">
                            </div>
                            <div class="form-group">
                                <label><i class="fa fa-comment" aria-hidden="true"></i> Poruka</label>
                                <textarea rows="3" name="message" class="form-control" placeholder="Poruka"></textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-raised btn-block btn-danger">Pošalji &rarr;</button>
                            </div>
                        </form>
                        <div id="error_message" style="width:100%; height:100%; display:none; ">
                            <h4>Greška</h4>
                            Žao nam je, poruka nije poslana.
                        </div>
                        <div id="success_message" style="width:100%; height:100%; display:none; ">
                            <h2>Čestitamo! Uspješno ste poslali poruku.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>