@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "ListProduct2";

    var db = Database.Open("StarterSite");
    var selectQuery = "SELECT * FROM UserProfile ORDER BY UserId";
}
<style>
    table, th, td {
        border: solid 1px #bbbbbb;
        border-collapse: collapse;
        padding: 2px;
    }
</style>
<br /><br /><br /><br /><br />
<h6><a href="~/admin">Povratak nazad</a></h6>
<br />
<h1>Lista korisnika:</h1>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Putovanje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in db.Query(selectQuery))
        {
            <tr>
                <td>@row.UserId</td>
                <td>@row.Email</td>
                <td>@row.putovanjeID</td>
            </tr>
        }
    </tbody>
</table>
