@{
                /**/

                Layout = "~/_SiteLayout.cshtml";
                Page.Title = "ListProductsForDelete5";

                var db = Database.Open("StarterSite");
                var select = "SELECT * FROM webpages_UsersInRoles";
}

<style>
    table, th, td {
        border: solid 1px #bbbbbb;
        border-collapse: collapse;
        padding: 2px;
        background-color: white;
    }
</style>
<br /><br /><br /><br /><br />
<h6><a href="~/admin">Povratak nazad</a></h6>
<br />
<h1>Izbriši podatke</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <form method="post" action="" name="form">
                <table border="1">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Id</th>
                            <th>Uloga</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var row in db.Query(select))
                        {
                            <tr>
                                <td><a href="@Href("~/DeleteProduct5", row.UserId)">Obriši</a></td>
                                <td>@row.UserId</td>
                                <td>@row.RoleId</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>