@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "O nama";
}

@section featured {
    <div class="container-fluid">
        <div class="row">
            <br /><br /><br /><br /><br />
            <p class="nasTim">NAŠ TIM</p>

            <hr>
            @*FOTOGRAFIJE, ULOGE I KONTAKT CLANOVA TIMA*@
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <img class="photostyle" src="~/Slike/jaca.jpg">
                <br><br>
                <p class="nasTim1">Jasmina Gazija</p>
                <p class="oNama1">Izvršni direktor</p>
                <div align="center">
                    <a href="https://www.facebook.com/jasmina.boja?ref=br_rs" target="_blank"><img src="Slike/facebook.png" width="30px" height="25px"></a>
                    <a href="https://www.instagram.com/gazijajasmina" target="_blank"><img src="Slike/instagram.png" width="30px" height="25px"></a>
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <img class="photostyle" src="Slike/AlmirSlika.png">
                <br><br>
                <p class="nasTim1">Almir Ustamujić</p>
                <p class="oNama1">Generalni direktor</p>
                <div align="center">
                    <a href="https://www.facebook.com/profile.php?id=100011544754069" target="_blank"><img src="Slike/facebook.png" width="30px" height="25px"></a>
                    <a href="" target="_blank"><img src="Slike/instagram.png" width="30px" height="25px"></a>
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <img class="photostyle" src="Slike/aida.jpg">
                <br><br>
                <p class="nasTim1">Aida Hondo</p>
                <p class="oNama1">PR Manager</p>
                <div align="center">
                    <a href="https://www.facebook.com/AidaOriflameTeam/" target="_blank"><img src="Slike/facebook.png" width="30px" height="25px"></a>
                    <a href="https://www.instagram.com/oriflametreambyaida" target="_blank"><img src="Slike/instagram.png" width="30px" height="25px"></a>
                </div>
                <hr>
            </div>
        </div>


            @*TEKST O TIMU*@
            <div class="row">
                <div class="col-sm-12">
                    <p class="oNama">
                        Zahvaljujući Vama koji čitate ovaj tekst i koji putujete na naša putovanja, mi opstajemo i trajemo. Veoma smo zahvalni na podršci i radu kroz koji Vam pružamo povoljniju i pouzdaniju uslugu, onakvu kakvu zaslužujete. <br>

                        Mi, u AJA Tours-u, znamo da u životu svake osobe bitan dio zauzimaju putovanja i zbog toga naš tim vrijedno radi na tome da ona budu profesionalno organizovana i osmišljena do najsitnijih detalja. Baš ti detalji se pamte i prepričavaju, a vremenom postaju najljepše uspomene. <br>

                        Te pozitivne uspomene više desetina hiljada putnika naša su najveća referenca u turizmu. One odvajaju AJA Tours putovanja od ostalih putovanja. Znamo koliko vrijedno radite da bi ste sebi omogućili odmor i zato nam je jako bitno da budete zadovoljni našim uslugama, kako bi time zaslužili vašu preporuku.
                    </p><br>
                </div>

            </div>
        </div>

}
